.btn-toggle{
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.btn__toogle--closed {
  position: absolute;
  top:26px;
  right:20px;
  width: 15px;
  height: 15px;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    height: 1px;
    background-color: white;
    z-index: 3;
  }


  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
