.news-feed{
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}

.news-feed__btn{
  display: block;
  width: 100%;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid @clr-bottom;
}
