.post {

  display: block;
  position: relative;

  width: 440px;
  font-size: 16px;
  text-align: center;
  vertical-align: bottom;

  &:nth-child(4n){
    margin-right: 0;
  };

  &:nth-child(n+5){
    display: none;
  };

  @media @desktop-widths{
    width: 305px;
    margin-right: 20px;

    &:nth-child(n+5){
      display: block;
    };
  }

  .post__info-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 440px;
    height: 1px;
    background-color: @clr-border-bottom;

      @media @desktop-widths{
        width: 305px;
      }
  }

}

.post__title{
  margin: 0;
}

.post__cover {
  position: relative;
  width: 440px;
  height: 440px;

  margin-bottom: 40px;
  background-color: @bg-lifhtgrey;

    @media @desktop-widths{
      width: 305px;
    }
}


.post__cover--green{
  background-color: @bg-post-green;
}

.post__no-cover{
  background-color: transparent;
}

.post__info-wrapper {
  display: flex;
  justify-content: space-between;
}
