.post {

  display: block;
  position: relative;

  max-width: 440px;
  font-size: 16px;

  margin-bottom: 60px;

  &:nth-child(4n){
    margin-right: 0;
  };

  &:nth-child(n+5){
    display: none;
  };

  @media @desktop-widths{
    width: 305px;
    margin-right: 20px;

    &:nth-child(n+5){
      display: block;
    };
  }
}

  .post__info-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .post__info-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 36px;
    width: 100%;
    height: 1px;
    background-color: @clr-gainsboro;

      @media @desktop-widths{
        bottom: 54px;
        width: 100%;
      }
  }

.post__cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 440px;
  height: 440px;

  margin-bottom: 40px;
  background-color: @clr-whitesmoke;

    @media @desktop-widths{
      width: 305px;
    }
}

.post__cover--green{
  background-color: @clr-mediumspringgreen;
}

.post__cover--center{
  text-align: center;
}

.post__no-cover{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  background-color: transparent;

  @media @desktop-widths{
    height: 440px;
  }
}


.post__title{
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  margin-bottom: 45px;
}

.post__title--white{
  color:@clr-white;
}

.post__date{
  color: @clr-grey;
}

.post__comment{
  color: @clr-caribbeangreen;
}

.post__hashtags{
  margin-bottom: 13px;
}

.post__hashtag-item {
  font-weight: normal;
  color: @clr-caribbeangreen;
}
.post__hashtag-item--white{
  color: @clr-white;

}
