.user-block {}

.user-block__hamburger {
  position: relative;
  width: 25px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 14px;
    background: linear-gradient(to bottom, @clr-black 20%,transparent 20%, transparent 40%, @clr-black 40%, @clr-black 60%, transparent 60%, transparent 80%, @clr-black 80%);
  }
}

.user-block__closed{
  position: absolute;
  top: 25px;
  right: 20px;
}


.user-block__wrapper--closed {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85%;
  padding: 20% 20% 0;
  background-color: @clr-black;
  color: @clr-white;
  z-index: 2;
  @media @desktop-widths {
    width: 30%;
    padding-top: 8%;
    padding-left: 6%;
    padding-right: 6%;
  }
}
