body{
  font-size: 24px;
  background: url("../img/home-mobile.jpg") no-repeat;
  background-size: 960px auto;
  background-color: @bg-lightgreen;

  @media @desktop-widths{
    background: url("../img/constellation-dt.png") no-repeat;
  }
}

img{
  max-width:100%;
  height: auto;
}
