@mobile-widths: ~"(min-width:480px)";
@desktop-widths: ~"(min-width:1440px)";

@bg-lightgreen: #edf8cf;
@color-slogan: #8f8f8f;
@bg-lifhtgrey: #f5f5f5;
@clr-border-bottom: #dadada;
@bg-post-green: #25f1b0;
@clr-toggle: #000000;
