@mobile-widths: ~"(min-width:480px)";
@desktop-widths: ~"(min-width:1440px)";

@bg-lightgreen: #edf8cf;
@clr-slogan: #8f8f8f;
@bg-lifhtgrey: #f5f5f5;
@clr-border: #dadada;
@bg-post-green: #25f1b0;
@clr-white: #ffffff;
@clr-toggle: #000000;
@clr-date: #818181;
@clr-darkgreen: #16d598;
